<%- include('templates/header') %>
<h2>Admin Dashboard</h2>
<table class="table">
    <thead>
        <tr><th>User</th><th>Email</th><th>Type</th><th>Actions</th></tr>
    </thead>
    <tbody>
        <% for(let i=0; i < users.length; i++) { %>
            <%- include('templates/user', {user: users[i]}) %>
        <% } %>
    </tbody>
</table>
<%- include('templates/footer') %>