<%- include('templates/header') %>
<div class="row text-center">
    <div class="col-md-4 mb-3">
        <img src="/img1.jpg" class="img-fluid rounded" alt="Image 1">
    </div>
    <div class="col-md-4 mb-3">
        <img src="/img2.jpg" class="img-fluid rounded" alt="Image 2">
    </div>
    <div class="col-md-4 mb-3">
        <img src="/img3.jpg" class="img-fluid rounded" alt="Image 3">
    </div>
</div>
<a href="/logout" class="btn btn-danger mt-3">Logout</a>
<%- include('templates/footer') %>